.DS_Store
project.wpr
project.wpu
*.h5
__pycache__
data/raw/
data/processed/
*.tif
*.png
*.yml

data_processing/ref
data_processing/*
checkpoints/

*log.txt
*logs
*.log
*.ckpt
wandb
data/
*.wandb
paper.qmd
paper_files/libs/bootstrap/bootstrap-icons.css
paper.html
paper.pdf
paper.quarto_ipynb
paper_files/*

imagery_classification_sample.ipynb
data_processing/OutputImage.vrt
data_processing/temp.ipynb
data_processing/temp2.ipynb
key.txt

*.ipynb
augmentation
data_processing
record.md
