.DS_Store
project.wpr
project.wpu
*.h5
__pycache__
data/raw/
data/processed/
*.tif
*.png
*.yml

data_processing/ref
data_processing/*
checkpoints/
pts_logs/
vis/
*log.txt
*logs
*.log
*.ckpt
wandb
data/
*.wandb
paper.qmd
paper_files/libs/bootstrap/bootstrap-icons.css
paper.html
paper.pdf
paper.quarto_ipynb
paper_files/*

imagery_classification_sample.ipynb
data_processing/OutputImage.vrt
data_processing/temp.ipynb
data_processing/temp2.ipynb
key.txt

*.ipynb
augmentation/
record.md
scripts/local_train.sh
utils/tester_fuse.py

utils/
results/
data_utils/
augmentation/
data_processing/
dataset/
fuse_train_logs/
imagery_classification_sample.ipynb
img_logs/
key.txt
leading_train_logs/
__pycache__
pts_tune_logs/
wandb/
vis/
record.md
scripts/local_train.sh